* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: rgb(24, 12, 12);
    text-decoration: none;
}

#contentContainer {
    height: 100%;
    width: 100%;
    background-color: rgb(62, 12, 154);
    display: flex;
}

body {
   font-family: Arial, sans-serif;
}
 
/*  */
.navbar, .nav_secundario{
    display: flex;
    align-items: center;
    background-color: rgb(177, 118, 40);
    padding: 10px 20px;
    width: auto;
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(161, 17, 17);
    margin-right: 20px;
}

#tit_pag{
 border-right: 20px solid transparent;
 
}

.navbar .logo img {
    width: 7%;
    margin-right: 10px;
}

.navbar input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px transparent;
    border-radius: 5px;
    font-size: 16px;
}

.navbar ul, .nav_secundario ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    position: relative;
}

.navbar ul li {
    display: inline;
    position: relative;
}

.navbar ul li a:hover, .nav_secundario ul li a:hover, .navbar2 .icono a:hover {
    color: #112bf0;
}

.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    background-color: rgb(176, 169, 36);
    border-radius: 6px;
}
.icono {
    display: block;
    padding: 6px;
    width: 24px;
    height: 24px;
    border-style: hidden;
}

.login_icon {
    display: block;
    padding: 6px;
    width: 24px;
    height: 24px;
    border-style: hidden;
}

.navbar ul .dropdown li {
    display: block;
    width: 200px;
}

.navbar ul .dropdown li a {
    padding: 10px;
    white-space: nowrap;
}

.navbar ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(203, 89, 23);
    border-radius: 5px;
}

.navbar ul li:hover .dropdown {
    display: block;
}

.nav_secundario{
    justify-content: space-between;
}
