
.new{
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    text-align: left;
    margin-top: 20px;
    background-color: white;
}

.new a{
    color: blue;
}

#news{
    padding: 30px;
    width: 100%;
    text-align: center;
}

