#libros{
    width: 20%;
    padding: 20px;
    border: 1px transparent;
    text-align: center;
    background-color: transparent;
}

 #im_lib{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    border-style: groove;
    border-radius: 5px;
 }

 .portada{
   padding: 10%;
   margin: 50px;
 }

.tit_lib{
    font-family: "BhuTuka Expanded One", serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(178, 225, 255);
}

.autor{
    color:blueviolet
}

