#libros{
    width: 20%;
    padding: 20px;
    border: 1px transparent;
    text-align: center;
    background-color: transparent;
}

 #im_lib{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
 }

 .portada{
 padding: 10%;
 margin: 50px;
 }

.tit_lib{
    font: 100%;
    font-family: fantasy;
}

