.input{
    border-top: 1px solid rgba(0, 0, 0, 0.321);
    padding: 20px;
    font-size: 20px;
}

.save{
    text-decoration: none;
    color: aliceblue;
}

#btn{
    background-color: blue;
    margin-left: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

#campo{
    margin-left: 5px;
    height: 20px;
}

#form{
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color: white;
}

#contentContainer{
    width: 100%;
    height: 100vh;
}

#cont_regist{
    display: flex;
    justify-content: space-between;
}

