.input{
    border-top: 1px solid rgba(0, 0, 0, 0.321);
    padding: 20px;
    font-size: 20px;
}

.btn{
    color: #fff;
    cursor: pointer;
}

#campo{
    margin-left: 5px;
    height: 20px;
}

#form{
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color: white;
}

#contentContainer{
    width: 100%;
    height: 100vh;
}

#cont_regist{
    display: flex;
    justify-content: space-between;
}
